﻿html {
Â Â Â -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
Â Â Â width: 100%;
Â Â Â height: auto;
}
img{
	max-width:100%;
	height: auto;
Â Â Â 	width: auto\9; /* ie8 */
}

@media only screen and (max-width: 804px) {
	.header{
		display: none;
	}
	h1{
		padding-top: 10px;
	}
}