﻿
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* Left & Right alignment */

.left { float:left;}
.right { float:right;}
.wrapper {width:100%; overflow:hidden;}

/* Global properties ======================================================== */

body{ background:#f0f1f0; border:0; font:14px Arial, Helvetica, sans-serif; color:#6b6b6b; line-height:20px;}
.block {height:78px;}
.extra {min-height:100%; height:auto !important; height:100%; margin: 0 auto -78px; background:url('images/bg2.gif') repeat-x 50% bottom;
}
body, html {height:100%;}

.block2 {height:130px;}
.extra2 {min-height:100%; height:auto !important; height:100%; margin: 0 auto -130px; background:url('images/bg.gif') repeat-x 50% bottom;
}

.body1{}

.css3{border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; box-shadow: 0 0 4px rgba(0, 0, 0, .4); -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4); -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4); position: relative;}

/* Global Structure ============================================================= */

.main {	margin: 0 auto;	/*width: 804px;*/ }


/* ============================= main layout ====================== */

a{ color:#6b6b6b; text-decoration: underline; outline:none}
a:hover{ text-decoration: none}
p{
	padding-bottom: 20px;
	text-align: justify;
}

h2{ font-size:26px; color:#000000; line-height:1.2em; padding:8px 0 18px 0; letter-spacing:-1px;}

/* ============================= header ====================== */
header{ width:100%;}

h1{ font-size:74px; line-height:1.2em; padding:78px 0 0 0; text-transform:uppercase; margin-left:-5px; letter-spacing:-1px; margin-bottom:-17px}
h1 a{ text-decoration:none}
* +html h1{ padding-top:82px; margin-bottom:-21px;}
@media all and (-webkit-min-device-pixel-ratio:10000),
not all and (-webkit-min-device-pixel-ratio:0) {
  h1 { padding-top:81px; margin-bottom:-20px;}
}

.menu { padding:0 25px; overflow:hidden;}
.menu li { float:left;}
.menu li a{ display: block; padding:0 18px; font-size:40px; color:#fff !important; text-decoration:none; line-height:54px; height:57px; letter-spacing:-1px;}
.menu li a:hover, .menu .active a{ background:#f0f1f0}


#logo{
	background-position: center;
	margin: 80px 0 0 90px;
	display: block;
	background: url('images/capture2.png') no-repeat 0
0;
	width: 200%;
	height: 190px;
	text-indent: -9999px;
}

#menu{ background:url('images/menu_bg.png') no-repeat 0 0; 
width:100%; height:100px; margin:61px 0 0 78px; padding-top:100px
}

#menu li{ float:left;}
#menu a{ font-size:30px; color:#000000; line-height:1.2em; text-decoration:none; letter-spacing:-1px;}

.nav1{ padding:26px 0 0 57px;}
.nav2{ padding:16px 0 0 30px;}
.nav3{ padding:36px 0 0 27px;}
.nav4{ padding:15px 0 0 5px;}
.nav5{ padding:26px 0 0 30px;}

#menu .nav1 a:hover{ color:#bb0e0e}
#menu .nav2 a:hover{ color:#ca6509}
#menu .nav3 a:hover{ color:#3f9711}
#menu .nav4 a:hover{ color:#0ca0ce}
#menu .nav5 a:hover{ color:#8606c5}


.ic, .ic a { text-indent:-9999px; width:100%; overflow:hidden}

/* ============================= content ====================== */

.content{ padding-top:40px; width:100%; overflow:hidden}

.pad_left1{ padding-left:39px;}
.marg_right1{ margin-right:19px;}
.pad_bot1{ padding-bottom:10px;}
.pad_bot2{ padding-bottom:40px;}
.pad_bot3{
	padding-bottom: 15px;
	text-align: justify;
}
.pad_top1{ padding-top:20px;}

.color1{ color:#000}
.font1{ font-size:16px; color:#000}

.button{ display:inline-block; color:#fff !important; text-decoration:none; line-height:34px; padding:0 17px; background:#000}
.button:hover{ background:#fff !important; color:#000 !important}

/* ============================= footer ====================== */

footer { height:78px; text-align:center; width:100%; overflow:hidden;}
.footer_end{ height:130px}
.footer_end a{ color:#8606c5}
.footer_end a:hover{}

.icons{ display:inline-block; padding:30px 0 10px 0}
.icons li{ float:left; padding:0 3px;}
* +html .icons{ display: inline}

/* Tooltips */
.aToolTip {	border:1px solid #000; background: url('images/opacity_50_black.png'); 
color:#fff;	margin:0; padding:0px 5px; font-size:11px;	}
.aToolTip .aToolTipContent { position:relative;	margin:0; padding:0; }
a.aToolTipCloseBtn { display:block;	height:20px; width:20px; overflow:hidden;background: url(../images/loading/close.gif) no-repeat;text-indent:-9999px;	outline:none; position:absolute; top:-15px;	right:-20px; }


/* ============================= forms ============================= */

#ContactForm {}
#ContactForm .wrapper{ min-height:40px;}
#ContactForm .textarea_box{ height:145px; padding-bottom:6px; width:100%; overflow:hidden}
#ContactForm {}
#ContactForm a{ margin-right:10px; float:left;}
#ContactForm .input {width:224px; border:1px solid #e3e4e3; background:#fff; padding:6px 8px; color:#bebebe; font:14px Arial, Helvetica, sans-serif; height:16px}
#ContactForm textarea { overflow: auto; width:224px; border:1px solid #e3e4e3; background:#fff; padding:6px 8px; color:#bebebe; font:14px Arial, Helvetica, sans-serif; height:127px; margin:0}



